.stepper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    width: 100%;
}

.step-circle {
    background-color: #4CAF50;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}

.step-label {
    margin-top: 8px;
}

.step-label-label{
    text-align: center;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    color: var(--Secondary-900, #191442);
    font-weight: 700;
    margin-top: 8px 
}
.step-label-date{
    text-align: center;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    color: var(--Neutrals-Labels, #6b6874);
    font-weight: 400
}

.step-line {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 100%;
    height: 4px;
    background-color: #4CAF50;
    z-index: -1;
    
}


.step:last-child .step-line {
    display: none;
}


.step.active .step-circle {
    background-color: #4CAF50;
    /* Green for completed steps */
}


.step:not(.active) .step-circle {
    background-color: #BDBDBD;
}



.step-line.active {
    background-color: #4CAF50;
    
}


.step-line:not(.active){
    background-color: #BDBDBD;
}


@media (max-width: 600px) {
    .stepper {
        flex-direction: column;
        align-items: flex-start;
    }

    .step {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
    }

    .step-label {
        margin-left: 20px;   
        text-align: left;
    }



   
    .step-line {
        position: absolute;
        left: 18px;     
        top: 100%;      
        width: 4px;     
        height: 100%;     
        background-color: #4CAF50;
        z-index: -1;       
        transform: translateY(-50%);
    
    }
}